{{>layout/header}}
<body>
<div class="jumbotron d-flex align-items-center min-vh-100">
  <div class="container text-center">

    <h3 class="display-4 ">유저 정보를 찾을 수 없어요</h3>
    <h3 class="display-4 ">🧐🧐🧐</h3>
    <a href="/" class="btn btn-lg btn-warning mt-4">홈으로 돌아가기</a>

  </div>
</div>

</body>

{{>layout/footer}}